# REV 1.2 HW

BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
# Bank Voltages
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 1.8 V;
BANK 8 VCCIO 2.5 V;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;

# Clocks
LOCATE COMP "clk_48mhz" SITE "M1" ;
IOBUF PORT "clk_48mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_48mhz" 48 MHz ;


# Leds
LOCATE COMP "led0" SITE "A5" ;
IOBUF PORT "led0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;


# DVI-D
LOCATE COMP "dvi_p[0]" SITE "B14" ;# DVI Blue +				
LOCATE COMP "dvi_n[0]" SITE "A15" ;# DVI Blue -				
LOCATE COMP "dvi_p[1]" SITE "A11" ;# DVI Green +			
LOCATE COMP "dvi_n[1]" SITE "A12" ;# DVI Green -			
LOCATE COMP "dvi_p[2]" SITE "A9" ;# DVI Red +				
LOCATE COMP "dvi_n[2]" SITE "A10" ;# DVI Red -				
LOCATE COMP "dvi_p[3]" SITE "B12" ;# DVI Clock +			
LOCATE COMP "dvi_n[3]" SITE "C12" ;# DVI Clock -			
IOBUF PORT "dvi_p[0]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_n[0]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_p[1]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_n[1]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_p[2]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_n[2]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_p[3]" IO_TYPE=LVCMOS33D ;
IOBUF PORT "dvi_n[3]" IO_TYPE=LVCMOS33D ;


# HyperRAM
LOCATE COMP "hr0_ck" SITE "G5" ;
LOCATE COMP "hr0_rwds" SITE "C3" ;
LOCATE COMP "hr0_csn" SITE "G3" ;
LOCATE COMP "hr0_dq[0]" SITE "C2" ;
LOCATE COMP "hr0_dq[1]" SITE "D3" ;
LOCATE COMP "hr0_dq[2]" SITE "B2" ;
LOCATE COMP "hr0_dq[3]" SITE "C1" ;		
LOCATE COMP "hr0_dq[4]" SITE "B1" ;
LOCATE COMP "hr0_dq[5]" SITE "D1" ; 
LOCATE COMP "hr0_dq[6]" SITE "E1" ; 
LOCATE COMP "hr0_dq[7]" SITE "E2" ; 
IOBUF PORT "hr0_ck" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_rwds" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_csn" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[4]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[5]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[6]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr0_dq[7]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
LOCATE COMP "hr1_ck" SITE "H5" ;
LOCATE COMP "hr1_rwds" SITE "F2" ;  
LOCATE COMP "hr1_csn" SITE "H3" ;
LOCATE COMP "hr1_dq[0]" SITE "H2" ;  
LOCATE COMP "hr1_dq[1]" SITE "J2" ;  
LOCATE COMP "hr1_dq[2]" SITE "F1" ;  
LOCATE COMP "hr1_dq[3]" SITE "G2" ;  
LOCATE COMP "hr1_dq[4]" SITE "G1" ;  
LOCATE COMP "hr1_dq[5]" SITE "J1" ;  
LOCATE COMP "hr1_dq[6]" SITE "K1" ;  
LOCATE COMP "hr1_dq[7]" SITE "K2" ;  
IOBUF PORT "hr1_ck" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_rwds" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_csn" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[0]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[1]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[2]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[3]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[4]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[5]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[6]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
IOBUF PORT "hr1_dq[7]" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;
LOCATE COMP "hrctl_resetn" SITE "J3" ;    
IOBUF PORT "hrctl_resetn" PULLMODE=NONE IO_TYPE=LVCMOS18 DRIVE=8 ;


# GPIO (PLGPIO) Left gpio
LOCATE COMP "plgpio[0]" SITE "P1" ;
LOCATE COMP "plgpio[1]" SITE "R1" ;
LOCATE COMP "plgpio[2]" SITE "P4" ;
LOCATE COMP "plgpio[3]" SITE "R3" ;
LOCATE COMP "plgpio[4]" SITE "R4" ;
LOCATE COMP "plgpio[5]" SITE "T3" ;
LOCATE COMP "plgpio[6]" SITE "T6" ;
LOCATE COMP "plgpio[7]" SITE "R6" ;
LOCATE COMP "plgpio[8]" SITE "R5" ;
LOCATE COMP "plgpio[9]" SITE "T4" ;
LOCATE COMP "plgpio[10]" SITE "M6" ;
IOBUF PORT "plgpio[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio[10]" IO_TYPE=LVCMOS33 ;

# GPIO (PLGPIO) Left gpio [ Single pin mapping ]
LOCATE COMP "plgpio0" SITE "P1" ;
LOCATE COMP "plgpio1" SITE "R1" ;
LOCATE COMP "plgpio2" SITE "P4" ;
LOCATE COMP "plgpio3" SITE "R3" ;
LOCATE COMP "plgpio4" SITE "R4" ;
LOCATE COMP "plgpio5" SITE "T3" ;
LOCATE COMP "plgpio6" SITE "T6" ;
LOCATE COMP "plgpio7" SITE "R6" ;
LOCATE COMP "plgpio8" SITE "R5" ;
LOCATE COMP "plgpio9" SITE "T4" ;
LOCATE COMP "plgpio10" SITE "M6" ;
IOBUF PORT "plgpio0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio9" IO_TYPE=LVCMOS33 ;
IOBUF PORT "plgpio10" IO_TYPE=LVCMOS33 ;

# GPIO (PRGPIO) Right gpio
LOCATE COMP "prgpio[0]" SITE "E6" ;
LOCATE COMP "prgpio[1]" SITE "D6" ;
LOCATE COMP "prgpio[2]" SITE "C6" ;
LOCATE COMP "prgpio[3]" SITE "B6" ;
LOCATE COMP "prgpio[4]" SITE "C5" ;	
LOCATE COMP "prgpio[5]" SITE "B5" ;
LOCATE COMP "prgpio[6]" SITE "E4" ;
LOCATE COMP "prgpio[7]" SITE "D4" ;
LOCATE COMP "prgpio[8]" SITE "A2" ;
LOCATE COMP "prgpio[9]" SITE "B3" ;
IOBUF PORT "prgpio[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio[9]" IO_TYPE=LVCMOS33 ;

# GPIO (PRGPIO) Right gpio
LOCATE COMP "prgpio0" SITE "E6" ;
LOCATE COMP "prgpio1" SITE "D6" ;
LOCATE COMP "prgpio2" SITE "C6" ;
LOCATE COMP "prgpio3" SITE "B6" ;
LOCATE COMP "prgpio4" SITE "C5" ;	
LOCATE COMP "prgpio5" SITE "B5" ;
LOCATE COMP "prgpio6" SITE "E4" ;
LOCATE COMP "prgpio7" SITE "D4" ;
LOCATE COMP "prgpio8" SITE "A2" ;
LOCATE COMP "prgpio9" SITE "B3" ;
IOBUF PORT "prgpio0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio4" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio5" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio6" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio7" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio8" IO_TYPE=LVCMOS33 ;
IOBUF PORT "prgpio9" IO_TYPE=LVCMOS33 ;


# SDCARD
LOCATE COMP "sdcard0_clk" SITE "D8" ;
LOCATE COMP "sdcard0_cd" SITE "E11" ;
LOCATE COMP "sdcard0_cmd" SITE "D9" ;
LOCATE COMP "sdcard0_dat0" SITE "C8" ;
LOCATE COMP "sdcard0_dat1" SITE "B7" ;
LOCATE COMP "sdcard0_dat2" SITE "E14" ;
IOBUF PORT "sdcard0_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdcard0_cd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdcard0_cmd" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdcard0_dat0" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdcard0_dat1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sdcard0_dat2" IO_TYPE=LVCMOS33 ;


# DAC
LOCATE COMP "snd_bck" SITE "E16" ;    
LOCATE COMP "snd_din" SITE "F16" ;    
LOCATE COMP "snd_mcscl" SITE "H14" ;   
LOCATE COMP "snd_mdsda" SITE "J13" ;   
LOCATE COMP "snd_scki" SITE "J16" ;    
LOCATE COMP "snd_lcrk" SITE "D16" ;   
LOCATE COMP "snd_msadr" SITE "K13" ;    
LOCATE COMP "snd_mode" SITE "L13" ;    
IOBUF PORT "snd_bck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_din" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_mcscl" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_mdsda" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_scki" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_lcrk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_msadr" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snd_mode" IO_TYPE=LVCMOS33 ;



SYSCONFIG SLAVE_SPI_PORT=ENABLE BACKGROUND_RECONFIG=OFF ;
USERCODE BIN "00000000000000000000000000000101" ; 
